/**
*
* Name: Contacts App
* Author: Bharani Muthukumaraswamy
* Author Email: bharani@abhayam.co.in
*
**/


.container-fluid {
    max-width: 900px;
    margin: 0 auto;
}

#wrap {
    padding-top: 80px;
    min-height: 400px;
}

.well.home {
    margin: 100px auto;
}

.navbar {
    .brand {
        i {
            // font-size: 30px;
        }
    }
    .navbar-form {
        margin-left: 20px;    
    }
}

.alert.alert-error {
    ul {
        margin: 0;
        list-style: none;
    }
}

.muted {
    color: darken(#ccc, 20%);
    font-size: 12px;
    margin-bottom: 20px;


    &.alert-error {
        color: #b94a48;
        font-size: 14px;
    }
}

table.table {
    tr {
        td {
            vertical-align: middle;
        }
    }
}